datasets/catheter/dataset_info.json
datasets/catheter/test.pdf
datasets/catheter/test.txt
datasets/catheter/train.pdf
datasets/catheter/train.txt
datasets/catheter/val.pdf
datasets/catheter/val.txt
datasets/discreteSpectrum/datasetOpreparator.py
datasets/discreteSpectrum/test_1.json
datasets/discreteSpectrum/test_1.txt
datasets/discreteSpectrum/test.json
datasets/discreteSpectrum/test.txt
datasets/discreteSpectrum/train.json
datasets/discreteSpectrum/train.txt
datasets/discreteSpectrum/val.json
datasets/discreteSpectrum/val.txt
datasets/discreteSpectrum/raw/DiscreteSpectrum_test1_x.csv
datasets/discreteSpectrum/raw/DiscreteSpectrumExample_test_x.csv
datasets/discreteSpectrum/raw/DiscreteSpectrumExample_train1_x.csv
datasets/discreteSpectrum/raw/DiscreteSpectrumExample_train2_x.csv
datasets/discreteSpectrum/raw/DiscreteSpectrumExample_train3_x.csv
datasets/discreteSpectrum/raw/DiscreteSpectrumExample_val_x.csv
datasets/discreteSpectrum/raw/DiscreteSpectrumExample.m
datasets/discreteSpectrum/raw/DiscreteSpectrumExampleFn.m
datasets/discreteSpectrum/raw/trajectory generator.py
datasets/discreteSpectrum/raw/test/DiscreteSpectrumExample.py
datasets/discretespec2/dataset_generator.py
datasets/discretespec2/test.json
datasets/discretespec2/test.pdf
datasets/discretespec2/test.txt
datasets/discretespec2/train.json
datasets/discretespec2/train.pdf
datasets/discretespec2/train.txt
datasets/discretespec2/utils.py
datasets/discretespec2/val.json
datasets/discretespec2/val.pdf
datasets/discretespec2/val.txt
datasets/discretespec2/__pycache__/utils.cpython-310.pyc
datasets/pendulum/datasetOpreparator.py
datasets/pendulum/test.json
datasets/pendulum/test.txt
datasets/pendulum/train.json
datasets/pendulum/train.txt
datasets/pendulum/raw/FluidFlowBox.m
datasets/pendulum/raw/FluidFlowBoxFn.m
datasets/pendulum/raw/FluidFlowOnAttractor.m
datasets/pendulum/raw/FluidFlowOnAttractorFn.m
datasets/pendulum/raw/Pendulum_test_x.csv
datasets/pendulum/raw/Pendulum_train1_x.csv
datasets/pendulum/raw/Pendulum_train2_x.csv
datasets/pendulum/raw/Pendulum_train3_x.csv
datasets/pendulum/raw/Pendulum_train4_x.csv
datasets/pendulum/raw/Pendulum_train5_x.csv
datasets/pendulum/raw/Pendulum_train6_x.csv
datasets/pendulum/raw/Pendulum_val_x.csv
datasets/pendulum/raw/Pendulum.m
datasets/pendulum/raw/PendulumFn.m
datasets/pendulum/raw/weaklyNL.m
datasets/vanderpol/dataset_generator.py
datasets/vanderpol/test.json
datasets/vanderpol/test.pdf
datasets/vanderpol/test.txt
datasets/vanderpol/train.json
datasets/vanderpol/train.pdf
datasets/vanderpol/train.txt
datasets/vanderpol/utils.py
datasets/vanderpol/val.json
datasets/vanderpol/val.pdf
datasets/vanderpol/val.txt
datasets/vanderpol/__pycache__/utils.cpython-310.pyc
